<div class="fixed-top">
    <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#about">
                <img src="/assets/Kyla..png" alt="Logo" width="90" class="d-inline-block align-text-top">
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            </a>

            <div class="navbar bg-body-tertiary px-3 mb-3" id="navbarNavAltMarkup">
                <a class="nav-link active" aria-current="page" href="#about">About</a>
                <a class="nav-link" href="#skills">Skills</a>
                <a class="nav-link" href="#education">Education</a>
                <a class="nav-link" href="#achievements">Achievements</a>
            </div>
        </div>
    </nav>
</div>