<div class="bckgrnd">
    <div>
        <img src="assets/pic.jpg" id="me" class="img-fluid" alt="profilepic">
        <h3>
            Hi! I'm Kyla Odvina
            <small style="color: #F2B263;">and I'm a Web Designer</small>
        </h3>
        <p>As an aspiring designer, I want to be a part of a company or community where I can freely express my creative
            skills and
            see the visionary plans made as a group turn into reality. I would also like to develop the skills and learn
            a lot of
            new essential knowledge from the community.</p>

    </div>
</div>