<div class="container-fluid py-5">
    <h2 id="education" style="text-align: center;">Education</h2>
    <div class="row">
        <div class="col-lg-12">

            <div class="horizontal-timeline">

                <ul class="list-inline items">

                    <li class="list-inline-item items-list">
                        <div class="px-4">
                            <div class="event-date badge bg-warning">2022 - Current</div>
                            <h5 class="pt-2">Third Year College</h5>
                            <div class="info">
                            </div>
                            <div>
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse0" role="button"
                                    aria-expanded="false" aria-controls="collapse0">
                                    Read More
                                </a>
                            </div>
                            <div class="collapse" id="collapse0">
                                <div class="card card-body">
                    <li>Holy Angel University</li>
                    <li>Course: Information Technology with specialization in Web Development</li>
            </div>
        </div>
    </div>
    </li>

    <li class="list-inline-item items-list">
        <div class="px-4">
            <div class="event-date badge bg-info">2021 - 2022</div>
            <h5 class="pt-2">Second Year College</h5>
            <div class="info">
            </div>
            <div>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse1" role="button"
                    aria-expanded="false" aria-controls="collapse1">
                    Read More
                </a>
            </div>
            <div class="collapse" id="collapse1">
                <div class="card card-body">
    <li>Holy Angel University</li>
    <li>Course: Information Technology with specialization in Web Development</li>
</div>
</div>
</div>
</li>

<li class="list-inline-item items-list">
    <div class="px-4">
        <div class="event-date badge bg-success">2020 - 2021</div>
        <h5 class="pt-2">First Year College</h5>
        <div class="info">
        </div>
        <div>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false"
                aria-controls="collapse2">
                Read More
            </a>
        </div>
        <div class="collapse" id="collapse2">
            <div class="card card-body">
<li>Holy Angel University</li>
<li>Course: Information Technology with specialization in Web Development</li>
</div>
</div>
</div>
</li>
<li class="list-inline-item items-list">
    <div class="px-4">
        <div class="event-date badge bg-danger">2018 - 2020</div>
        <h5 class="pt-2">Senior High School</h5>
        <div class="info">
        </div>
        <div>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Read More
            </a>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
<li>Holy Angel University</li>
<li>Course: Academic Track: Accountancy, Business & Management (ABM)</li>
</div>
</div>
</div>
</li>

</ul>
</div>

<div class="horizontal-timeline">
    <ul class="list-inline items">

        <li class="list-inline-item items-list">
            <div class="px-4">
                <div class="event-date badge bg-warning">2014 - 2018</div>
                <h5 class="pt-2">Junior High School</h5>
                <div class="info">
                </div>
                <div>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse3" role="button"
                        aria-expanded="false" aria-controls="collapse3">
                        Read More
                    </a>
                </div>
                <div class="collapse" id="collapse3">
                    <div class="card card-body">
        <li>Dominican School of Sta. Rita Pampanga</li>
</div>
</div>
</div>
</li>

<li class="list-inline-item items-list">
    <div class="px-4">
        <div class="event-date badge bg-info">2008 - 2014</div>
        <h5 class="pt-2">Elementary</h5>
        <div class="info">
        </div>
        <div>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false"
                aria-controls="collapse4">
                Read More
            </a>
        </div>
        <div class="collapse" id="collapse4">
            <div class="card card-body">
<li>Dominican School (2011-2014)</li>
<li>International Philippine School in Al-Khobar (2008-2011)</li>
</div>
</div>
</div>
</li>

</ul>
</div>

</div>
</div>

</div>