<div class="container py-5">
    <h2 id="achievements" style="text-align: center;">Achievements</h2>
    <div class="main-timeline-4 text-white">
        <div class="timeline-4 left-4">
            <div class="card gradient-custom">
                <div class="card-body p-4">
                    <i class="fas fa-brain fa-2x mb-3"></i>
                    <h4>Dean's List</h4>
                    <p class="small text-white-50 mb-4">2021 - 2022</p>
                    <p>For the 1st and 2nd semester of the academic year 2021 - 2022
                    </p>
                    <p>Holy Angel University School of Computing
                    </p>
                </div>
            </div>
        </div>

        <div class="timeline-4 right-4">
            <div class="card gradient-custom-4">
                <div class="card-body p-4">
                    <i class="fas fa-campground fa-2x mb-3"></i>
                    <h4>Dean's List</h4>
                    <p class="small text-white-50 mb-4">2020 - 2021</p>
                    <p>For the 1st and 2nd semester of the academic year 2022 - 2021
                    </p>
                    <p>Holy Angel University School of Computing
                </div>
            </div>
        </div>
        <div class="timeline-4 left-4">
            <div class="card gradient-custom">
                <div class="card-body p-4">
                    <i class="fas fa-sun fa-2x mb-3"></i>
                    <h4>School of Computing Senator</h4>
                    <p class="small text-white-50 mb-4">2020 - 2021</p>
                    <p>Associate Chief of Multimedia, Arts, and Creatives (MAC) team for the Student Council of Holy
                        Angel University
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline-4 right-4">
            <div class="card gradient-custom-4">
                <div class="card-body p-4">
                    <i class="fas fa-palette fa-2x mb-3"></i>
                    <h4>I.V.Y League Multimedia, Arts, and Creatives team member</h4>
                    <p class="small text-white-50 mb-4">2020 - 2021</p>
                    <p>I volunteered for the organization that serves as the man-power of Student Council of Holy Angel
                        University
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline-4 left-4">
            <div class="card gradient-custom">
                <div class="card-body p-4">
                    <i class="fas fa-laugh-beam fa-2x mb-3"></i>
                    <h4>With Honors</h4>
                    <p class="small text-white-50 mb-4">2020</p>
                    <p>For the academic year of 2019 - 2020 from Accounting, Business, and Management course
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline-4 right-4">
            <div class="card gradient-custom-4">
                <div class="card-body p-4">
                    <i class="fas fa-pizza-slice fa-2x mb-3"></i>
                    <h4>With Honors</h4>
                    <p class="small text-white-50 mb-4">2019</p>
                    <p>For the academic year of 2018 - 2019 from Accounting, Business, and Management course
                    </p>
                </div>
            </div>
        </div>
    </div>